@import './colors';

.editor-container {
  background-color: $smoky-black;
  padding: 2rem;
  margin: 2rem;
  border-radius: 3rem;

  .editor-container {
    margin: 0;
  }

  @media screen and (max-width: 39.9375em) {
    margin: 0rem;
  }

  h2 {
    color: $alabaster;
    line-height: 3rem;
  }

  textarea {
    color: $smoky-black;
    border-radius: 1rem;
  }
}

.form-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .close-button {
    position: relative;
    transition: .2s;
    color: $alabaster;
  }

  .close-button:hover,
  .close-button:focus {
    color: $yellow-green-crayola;
  }
}

.editor-form {
  margin-top: 2rem;

  * {
    color: $alabaster;
  }

  select {
    color: $smoky-black;
  }

  label {
    color: $alabaster;
    margin: .25rem;
  }

  .input-field {
    border-radius: 1rem;
  }
}

.drop-zone {
  width: 50%;
  padding: 1rem;
  margin: 1rem 0;
  border: 2px dashed $alabaster;
  border-radius: 1rem;
  transition: .2s;
}

.drop-zone:hover {
  cursor: pointer;
  color: $yellow-green-crayola;
  border-color: $yellow-green-crayola
}

.overlay-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: scroll;
}

.editor-form-actions {

  .sm-btn {
    margin: 0 1rem;
  }
}