  @import './colors.scss';
  @import './fonts_text.scss';

  .todo-list-card {
    background-color: $smoky-black;
    border-radius: 1rem;
    border: 0;
    overflow: hidden;
    max-width: 300px;
    height: 82vh;

    .card-section {
      padding-bottom: 8rem;
    }

    .card-divider {
      border-bottom: 2px solid $gold-fusion;
      background: inherit;
      display: flex;
      justify-content: space-between;
      padding: .5rem;

      h3 {
        color: $alabaster;
        font-family: $ubuntu;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0;
      }
    }

    .card {
      border-radius: .5rem;
      margin-right: .25rem;
      font-size: .85rem;
      transition: .2s;
      height: inherit;
      width: inherit;
    }

    .card:hover {
      opacity: .5;
      cursor: pointer;
    }

    .dragging {
      opacity: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-radius: .5rem;

      li {
        background-color: $alabaster;
        color: $smoky-black;
        margin: .5rem 0;
        padding: .5rem;
      }
    }
  }